:root {
    --primary-background-color: #121212;
    --secondary-background-color: #0E0E0E;
    /*--black-color: #0C0C0C; */

    --fragjetzt-background-color: #0C0C0C;

    --black-background-color: #0C0C0C;

    --primary-highlight-color: #bb86fc;
    --secondary-highlight-color: #03dac6;

    --primary-font-color: #fff;
    --secondary-font-color: #000;
}

body {
    width: 100%;
    height: 100%;

    overflow-x: hidden;
}

section.background-color {
    background-color: var(--primary-background-color);
}

header.masthead {
    background: var(--primary-background-color);
}

#mainNav {
    background-color: var(--secondary-background-color);
}

#mainNav .navbar-toggler {
    color: var(--primary-font-color);
    border-color: rgba(255, 255, 255, 0.25);
}

#mainNav a.link {
    color: var(--primary-font-color);
}

#mainNav .navbar-nav li {
    position: relative;
}

#mainNav .navbar-nav li a {
    color: var(--primary-font-color);
}

#mainNav .navbar-nav li a:hover, #mainNav .navbar-nav li a:focus, #mainNav .navbar-nav li a:focus:hover {
    color: var(--primary-font-color);
    opacity: 1;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: var(--primary-font-color);
}

#mainNav.navbar-shrink {
    background-color: var(--secondary-background-color);
}

#mainNav.navbar-shrink .navbar-brand {
    color: var(--primary-font-color);
}

#mainNav.navbar-shrink .navbar-nav>li>a, #mainNav.navbar-shrink .navbar-nav>li>a:focus{
    color: var(--primary-font-color);
}

#mainNav .navbar-nav>li>a:hover {
    color: var(--primary-font-color) !important;
}

#mainNav .navbar-nav>li>a.active {
    color: var(--primary-font-color) !important;
    opacity: 1;
}

header.masthead .bigIcon .icon-symbol {
    font-family: Arial;
    font-size: 150px;
    font-weight: 700;

    position: relative;
    z-index: 1;
}

header.masthead .bigIcon .icon-symbol:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: var(--fragjetzt-background-color);
    border-radius: 100%;
    z-index: -1;
}

h1.mb-5 {
    margin-top: 100px;
}

.input-group input.form-control {
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    opacity: 0.5;

    transition: all 300ms ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.input-group input.form-control.correct {
    color: var(--secondary-highlight-color);
}

.input-group input.form-control::placeholder {
    color: #fff;
    opacity: 0.5;
}

.input-group input.form-control:focus {
    opacity: 1;
}

.input-group button.btn {
    color: var(--primary-font-color);
    margin-left: 50px;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.input-group button.btn#join:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--secondary-background-color);
    z-index: -1;
}

#download .section-heading {
    color: var(--primary-font-color);
}

#download .plus-point {
    margin: 100px 0;
    z-index: 3;
}

#download .plus-point .text {
    color: var(--primary-font-color);
    font-size: 24px;
    z-index: 1;
}

#download .plus-point .text:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #151515;
    z-index: -1;
}

#features .section-heading {
    color: var(--primary-font-color);
}

#features .extra-container .example-container {
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    margin: -50px 0;

    position: relative;
    border: 1px solid var(--black-color);
    opacity: 0.4;
    filter: blur(1px);
}

#features .extra-container .example-container:nth-child(2) {
    z-index: 5;
    transform: scale(1.1);
    opacity: 1;
    filter: none;
}

#features .extra-container .example-question {
    color: var(--primary-font-color);
    font-size: 16px;

    padding: 45px;
}

#features .extra-container .vote {
    color: var(--primary-font-color);
    text-align: center;
}

#features .extra-container .extra {
    color: var(--primary-font-color);
    font-size: 24px;

    border-radius: 25px;

    padding: 30px;
    margin: 10px 0;

    position: relative;
}

#reviews {
    padding: 150px 0;
}

#reviews .grid {
    /* Grid */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    height: 500px;
    background-color: transparent;

    position: relative;

    z-index: 1;
}

#reviews .grid:nth-child(2) {
    background-color: var(--secondary-background-color);
    border-radius: 25px;
}

#reviews .grid .title {
    /* Grid */
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    justify-self: center;
    align-self: center;

    color: var(--primary-font-color);
    font-size: 48px;
    font-weight: 900;

    text-align: center;
}

#reviews .grid:nth-child(1):before {
    content: "?";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--secondary-highlight-color);
    font-family: Arial;
    font-size: 500px;
    font-weight: 700;

    opacity: 0.125;

    z-index: -1;
}

#reviews .grid .opinion {
    position: absolute;

    /* Grid */
    grid-column: 1 / -1;
    grid-row: 1 / span 5;

    justify-self: center;
    align-self: center;

    color: var(--primary-font-color);
    font-size: 24px;
    font-weight: 900;

    text-align: left;

    position: relative;

    padding: 0 25px;
    z-index: 1;

    opacity: 0;

    transition: all 300ms ease-in-out;
}

#reviews .grid .opinion.active {
    opacity: 1;
}

#reviews .grid .person-container {
    grid-column: 1 / -1;
    grid-row: 7;

    justify-self: center;

    position: relative;
}

#reviews .grid .person-container .person {
    width: 80px;
    height: 80px;
    background-color: var(--primary-background-color);

    border-radius: 100%;

    color: rgba(255, 255, 255, 0.75);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid var(--black-background-color);

    transition: all 300ms ease-in-out;

    cursor: pointer;

    outline: none;
    box-shadow: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    letter-spacing: 1.5px;
}

#reviews .grid .person-container .person.prev {
    transform: translate(-175%, -50%);
}

#reviews .grid .person-container .person.next {
    transform: translate(75%, -50%);
}

#reviews .grid .person-container .person.active {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
    border: 3px solid var(--secondary-highlight-color);
}

#reviews .grid .who-container {
    grid-column: 1 / -1;
    grid-row: 9 / span 2;

    position: relative;
}

#reviews .grid .who-container .info-container {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all 300ms ease-in-out;
    text-align: center;
}

#reviews .grid .who-container .info-container.active {
    opacity: 1;
}

#reviews .grid .who-container .info-container .name {
    color: var(--primary-font-color);
    font-size: 16px;
}

#reviews .grid .who-container .info-container .role {
    color: var(--secondary-highlight-color);
    font-size: 16px;
}

footer {
    background-color: var(--secondary-background-color);
    color: var(--primary-font-color);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 5px;
}

.copyright {
    font-size: 12px;
}

footer ul li a {
    color: var(--primary-font-color);
}

footer ul li a:hover, footer ul li a:focus {
    color: var(--primary-font-color);
}

#fragjetzt-btn {
    margin: 0;
    position: relative;
}

.modal {
    background-color: var(--primary-background-color);
}

.modal-content {
    color: var(--primary-font-color);
    background-color: var(--black-color);
    padding: 35px;
}

.modal-content .important-title {
    border-bottom: 1px solid var(--primary-font-color);
    margin-bottom: 30px;
}

.modal-content a {
    color: var(--secondary-highlight-color);
}

.modal-content img {
    background-color: white;
    margin: 10px 0;
}

.zIndex {
    z-index: 4;
}

.important {
    color: var(--secondary-highlight-color);
}

a.cc-link {
    opacity: 1;
}

.footer-link {
    text-align: center;
}

@media (min-width: 992px) {
    #reviews .grid .opinion {
        font-size: 32px;
        padding: 0 50px;
    }

    #mainNav {
        background-color: transparent;
    }

    footer ul li {
        margin-left: 25px;
    }

    header.masthead .bigIcon .icon-symbol {
        font-size: 250px;
    }

    header.masthead .bigIcon .icon-symbol:before {
        width: 400px;
        height: 400px;
    }

    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
        color: var(--primary-font-color);
    }

    #fragjetzt-btn {
        margin-left: 100px;
    }

    .hoverable:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        opacity: 0.5;
        background-color: #03dac6;
        transition: transform 300ms ease-in-out;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
    }
    
    .hoverable:hover:before {
        transform: scaleX(1);
        transform-origin: left;
    }
}

@media (min-width: 1200px) {
    header.masthead .bigIcon .icon-symbol:before {
        width: 500px;
        height: 500px;
    }
}